<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- File target with daily rotation -->
    <target xsi:type="File" name="logfile"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/Logs/archive/${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console target for debugging -->
    <target xsi:type="Console" name="console"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />

    <!-- Error file target -->
    <target xsi:type="File" name="errorfile"
            fileName="${basedir}/Logs/errors/${shortdate}-errors.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}"
            archiveEvery="Day"
            maxArchiveFiles="90" />
  </targets>

  <rules>
    <!-- Log everything to file -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    
    <!-- Log errors and above to error file -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    
    <!-- Log to console in Debug mode (comment out for production) -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
